---
layout: base
---

<!-- About -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="about-page">
                <img class="avatar avatar-circle"
                     src="{{ 'assets/layout/me.jpeg' | absolute_url }}"
                     alt="Anton Ivanov">
                <h1>ImScientist</h1>
                <ul class="network-icon" aria-hidden="true">
                    <li class="network-icon">
                        <a href="https://www.linkedin.com/in/anton-ivanov-1b35ba34/" target="_blank" rel="noopener"
                           aria-label="linkedin">
                            <i class="fab fa-linkedin big-icon"></i>
                        </a>
                    </li>
                    <li class="network-icon">
                        <a href="https://github.com/ImScientist/" target="_blank" rel="noopener" aria-label="github">
                            <i class="fab fa-github big-icon"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<hr>
